<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526901019169-ndkhbu4jln51di2t8l5qi8464b6gjiqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526901019169-ndkhbu4jln51di2t8l5qi8464b6gjiqj</string>
	<key>API_KEY</key>
	<string>AIzaSyB3mzgVTUPCCgLWTUiDuAajNdZSawzfrSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>526901019169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.fhnw.ip5.praxisintercom.client</string>
	<key>PROJECT_ID</key>
	<string>ip5-praxis-intercom</string>
	<key>STORAGE_BUCKET</key>
	<string>ip5-praxis-intercom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526901019169:ios:6889eef5bf15cd46159960</string>
</dict>
</plist>